/* obrázek na pozadí v jumbotronu */
#vedeni-ucetnictvi {
    background-image: url("./assets/images/matous-burysek-ucetnictvi-Brno.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* pozadí textu v jumbotronu */
.jumbotron-text {
    text-shadow: 0 0 10px white;
    /* background-color: beige; */
}

.text-secondary {
    font-style: italic; 
}

.nav-item {
    font-size: large;
}

/* h2, h4 {
    margin-bottom: 0px;
} */

/* h4 {
    margin-top: 30px;
} */

h5 {
    font-weight: normal;
}