/* obrázek na pozadí v jumbotronu */
#vedeni-ucetnictvi {
    background-image: url("./assets/images/matous-burysek-ucetnictvi-Brno.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* pozadí textu v jumbotronu */
#vedeni-ucetnictvi p {
    /* text-shadow: 1px 1px white, -1px 1px white, 1px -1px white, -1px -1px white, 0 0 10px white, 0 0 5px white; */
    text-shadow: 0 0 10px white, 0 0 5px white,  0 0 1px white;
}

.text-secondary {
    font-style: italic; 
}

.nav-item {
    font-size: large;
}

h1, h2, h3, h4, h5 {
    /* font-family: 'Oswald', sans-serif; */
}

h5 {
    font-weight: normal;
}

/* změna odkazů */

a {
    color: white;
    text-decoration: none; 
}

a:hover {
    font-weight: bolder; 
    color: rgb(44, 112, 244);
}

/* kontaktní okno - nevyužívá Bootstrap */

#window-contact {
    display: none;
    position: fixed;
    top: 17%;
    left: 20%;
    width: 60%;
    background-color: hsl(220, 90%, 56%);
    border-radius: 15px;
    /* box-shadow: 0 0 50px hsl(220, 90%, 56%), 0 0 30px hsl(220, 90%, 56%), 0 0 10px hsl(220, 90%, 56%); */
    color: white;
}

#close-button {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: xx-large;
    color: black;
    /* font-weight: bold; */
    cursor: pointer;
}

#close-button:hover {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: xx-large;
    color: wh;
    font-weight: bold;
    cursor: pointer;
}

#matous-burysek, #ucetni-software {
    background-image: url("/assets/images/grey-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* CSS v mobilní verzi ??? window contact musí mít jiné rozměry */
@media only screen and (max-width: 800px) {
    h1 {
  
    }
    
    li {
      margin-right: 10px;
    }
  
    a {
      width: 100px;
      padding: 5px 0;
      font-size: 16px;
    }
  }